.env
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.pytest_cache/
htmlcov/
.pytest_cache/
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.DS_Store
